* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 10px;
    list-style: none;
}

nav ul li:hover {
    border-bottom: 2px solid #E16259;
}

.first-container {
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    width: 60%;
    margin: auto;
    padding: 20px;
    margin-top: 30px;
    gap: 20px;
    background-color: white;
    flex-wrap: wrap;
    top: 150px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}

.selected {
    background-color: #A259FF !important;
    color: white !important;
}

.first-container .description {
    align-items: left;
    text-align: left;
}

h1 {
    font-size: 40px;
    color: #E16259;
    margin-bottom: 15px;
}

.middle-box {
    align-items: center;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    width: 77%;
    flex-wrap: wrap;
}

.image {
    /* border: 2px solid black; */
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.image img {
    border-radius: 50%;
    flex-wrap: wrap;
}

.description {
    /* border: 2px solid black; */
    width: 70%;
    padding: 12px;
}

.second-container {
    display: flex;
    width: 90%;
    gap: 10px;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 50px;
    text-overflow: ellipsis;
    margin-bottom: 40px;
}

.small-container {
    padding: 12px 16px 12px 16px;
    width: 282px;
    height: 110px;
    border-radius: 3px;
    margin: auto;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}

.gender,
h5 {
    text-transform: uppercase;
}

h5 {
    font-weight: 700;
    font-size: 22px;
    line-height: 45px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gender {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.gender,
.email,
h5,
h1,
p {
    font-family: 'Roboto', sans-serif;
}

.email {
    color: red;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
}